<div class="container my-4">
  <h3>{{ title }}</h3>
  <button class="btn btn-primary" (click)="triggerModal()">{{ showModal() ? "Close" : "Create User" }}</button>
  <div class="row">
    <div class="col">
      <user [users]="users()" (deleteUserEventEmitter)="deleteUser($event)"
      (selectedUserEventEmitter)="selectedUser($event)" />
    </div>
  </div>
</div>

@if(showModal()) {
<div class="col openModal animationModal">
  <user-form (newUserEventEmitter)="addUser($event)" [user]="userSelected()" (modalEventEmitter)="triggerModal()" />
</div>
}